{%- if versiondata["version"] == "main" -%}
## Changes for the Upcoming Release
{% else -%}
## [{{ versiondata["version"] }}](https://codeberg.org/tahv/menuet/releases/tag/{{ versiondata["version"] }}) - {{ versiondata["date"] }}
{% endif %}
{% for section, _ in sections.items() %}
{% if sections[section] %}
{% for category, val in definitions.items() if category in sections[section] %}

### {{ definitions[category]['name'] }}

{% for text, issues in sections[section][category].items() %}
{% if ("\n\n" in text)%}
{%- set t = text.split("\n\n", 1) %}
{%- set text = [t[0], t[1]|indent(2, true)] | join("\n\n") + "\n" %}
{% endif %}
{% if issues %}
- {{ issues|join(',\n  ') }}:
  {{ text }}
{% else -%}
- {{ text }}
{% endif %}
{% endfor %}
{% endfor %}

{% else %}
No significant changes.


{% endif %}
{% endfor %}
